
/* De ul hieronder gaat om het menu van de website, overflow voorkomt dat je gaat scrollen wanneer een deel van de tekst te groot is, de padding betekent hoeveel de menutekst
van de zijkant af zit en de margin houdt de afstand tussen de eerste stuk tekst en het menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(187, 190, 233)
}

/* li a staat voor de inhoud van het menu, zo krijgt het menu een kleur en de grootte bepaald. Float left houdt in dat de teksten van menu aan de linkerkant staan, de display 
krijgt voor elkaar dat de grootte samen met de padding wordt bepaald. Color is de kleir van mijn tekst in het menubalk en de background color is daar de achtergrond van */

li a {
    float: left;
    display:block;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}
/*De hover betekent de kleur van de tekst in je menu. Als je over een van de pagina's gaat met de muis zie je deze kleur. De tekst wordt okergelig*/
li a:hover:not(active) {
    background-color: rgb(235, 190, 124, 0.671);
}

/* body 1 krijgt een backgroundcolor volgens rgb*/
#kop1 { color:brown;
}
#kop2 { color:rgb(153, 40, 40);
}
#body1 {
    background-color:rgb(187, 190, 233)

}
/* body 2 krijgt een backgroundcolor volgens rgb*/
#body2 {
    background-color:rgb(165, 199, 236)

}
/* body 3 krijgt een backgroundcolor volgens rgb*/
#body3 {
    background-color:rgb(192, 196, 248) ;

}
/* body 4 krijgt een backgroundcolor volgens rgb*/
#body4 {
    background-color: rgb(199, 205, 240);
}
/* body 5 krijgt een backgroundcolor volgens rgb*/
#body5 {
    background-color: rgb(189, 207, 145);
}
/* body 6 krijgt een backgroundcolor volgens rgb*/
#body6 {
    background-color: rgb(196, 225, 226);
}
/* body 7 krijgt een backgroundcolor volgens rgb*/
#body7 {
    background-color: rgb(178, 204, 226);
}
/* footer krijgt een backgroundcolor in het donkerrood en lettertype in het lichtblauw*/
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(180, 92, 20);
    color:rgb(141, 196, 248);
}

