
/* De ul hieronder gaat om het menu van de website*/  
ul {
    list-style-type: none;
    margin: 0; /*de margin houdt de afstand tussen de eerste stuk tekst en het menu*/
    padding: 0; /* de padding betekent hoeveel de menutekst van de zijkant af zit */
    overflow: hidden; /*overflow voorkomt dat je gaat scrollen wanneer een deel van de tekst te groot is*/
    background-color:rgb(187, 190, 233);
}
/* li a staat voor de inhoud van het menu, zo krijgt het menu een kleur en de grootte bepaald */

li a {
    float: left; /*Float left houdt in dat de teksten van menu aan de linkerkant staan*/
    display:block; /*de display krijgt voor elkaar dat de grootte samen met de padding wordt bepaald*/
    color:rgb(0, 0, 0); /*color is de kleur van de tekst in mijn menubalk*/
    text-align: center; /* de horizontale uitlijning van de text in dit geval midden, center */
    padding: 14px 16px; /* de padding betekent hoeveel de menutekst van de zijkant af zit */
    text-decoration: none; /*decoratie van de tekst*/
    background-color: rgb(255, 255, 255); /*de background color is de achtergrond van de menubalk*/
}
/*De hover betekent de kleur van de tekst in je menu. Als je over een van de pagina's gaat met de muis zie je deze kleur. De tekst wordt okergelig*/
li a:hover:not(active) {
    background-color: rgb(207, 168, 108, 0.671);
}

/* body 1 krijgt een backgroundcolor volgens rgb*/
#kop19 { color:rgb(51, 28, 134); /*de #kop gevolgd door id nummer verwijst naar de id's en geeft zo door css een kleur aan de tekst voor id dit geldt voor alle koppen*/
}
#body1 {
    background-color:rgb(187, 190, 233)

}
/* body 2 krijgt een backgroundcolor volgens rgb*/
#kop3 { color:brown;
}
#kop4 { color:brown;
}
#kop5 { color:brown;
}
#body2 {
    background-color:rgb(165, 199, 236)

}
/* body 3 krijgt een backgroundcolor volgens rgb*/
#kop6 { color:brown;
}
#kop7 { color:brown;
}
#kop8 { color:brown;
}
#kop9 { color:brown;
}
#body3 {
    background-color:rgb(192, 196, 248) ;
}
/* body 4 krijgt een backgroundcolor volgens rgb*/
#kop9 { color:brown;
}
#kop10 { color:brown;
}
#kop11 { color:brown;
}
#kop12 { color:brown;
}
#body4 {
    background-color: rgb(199, 205, 240);
}
#kop20 { color:rgb(218, 117, 206);
}
#kop21 { color:rgb(118, 89, 114);
}
#kop50 { color:rgb(204, 90, 90);
}
#kop23 { color:rgb(88, 119, 82);
}
#kop24 { color:rgb(88, 119, 82);
}
#kop25 { color:rgb(88, 119, 82);
}
#kop26 { color:rgb(88, 119, 82);
}
#kop27 { color:rgb(88, 119, 82);
}
#kop27 { color:rgb(57, 151, 39);
}
/* body 5 krijgt een backgroundcolor volgens rgb*/
#kop1 { color:rgb(219, 81, 208);
}
#kop2 { color:rgb(112, 95, 161);
}
#body5 {
    background-color: rgb(155, 183, 151);
}

/* body 6 krijgt een backgroundcolor volgens rgb*/
#kop17 { color:brown;
}
#kop18 { color:brown;
}
#body6 {
    background-color: rgb(196, 225, 226);
}
/* body 7 krijgt een backgroundcolor volgens rgb*/
#body7 {
    background-color: rgb(178, 204, 226);
}
#body22 { 
    background-color: rgb(178, 204, 226); 
}
#body23 { 
    background-color: rgb(200, 230, 220); 
}
#body24 { 
    background-color: rgb(200, 230, 220); 
}

/* footer krijgt een backgroundcolor in het donkerrood en lettertype in het lichtblauw*/
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(168, 103, 59);
    color:rgb(185, 200, 212);
}
#body9 {    background-color: rgb(178, 204, 226);
}
#link1 {
    color:white
   background (200, 230, 220); 
    padding: 8px 8px; 
    text-align: center;
    text-decoration: none;


}
/* footer krijgt een backgroundcolor in het donkerrood en lettertype in het lichtblauw*/
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(168, 103, 59);
    color:rgb(185, 200, 212);}
.dropbtn {
    background-color: #d1bf90;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #c9a963c5;}

